/* in this block info text and skills will stand vertically so flex-column, margins and gap between elements */
.about {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
    gap: 20px;
}

/* here style for about text part */
.about .card {
    width: 100%;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 20px;
}

/* style for headings of skills and about */
.about h2 {
    font-family: 'Eczar', serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

/* style for about text */
.about .about-text {
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

/* skills heading and skills container will in two fronts */
.about .skills {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
}

/* skills columns will stand horizontally in the end and there will be spacing between them , vertically in start */
.about .skills-container {
    display: flex;
    width: 60%;
    justify-content: end;
    align-items: start;
    gap: 20px;
}

/* there skills images container and skill type will stand vertically */
.about .skills-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 25px;
    background-color: #e0e0e0;
    gap: 15px;
}

/* style for skill type */
.about .skills-column h3 {
    font-family: inherit;
    font-weight: inherit;
    line-height: 25px;
    font-size: 20px;
}

/* skills images will stand vertically */
.about .skills .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* skills image size */
.about .skills-column img {
    width: 80px;
}

/* changins sizes */
@media (max-width: 1550px) {
    .about h2 {
        font-size: 40px;
    }

    .about .about-text, .about .skills-column h3 {
        font-size: 18px;
    }

    .about .skills-column img {
        width: 60px;
    }
}

@media (max-width: 900px) {
    .about {
        width: 70%;
    }
    
    .about h2 {
        font-size: 30px;
    }
    
    .about .about-text, .about .skills-column h3 {
        line-height: 20px;
        font-size: 15px;
    }
    
    /* there skills heading and skills type and images container will stand vertically */
    .about .skills {
        width: 100%;
        padding: 0px;
        flex-direction: column;
    }

    /* there horizontal skills will stand vertically */
    .about .skills-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about .skills-column {
        width: 100%;
    }

    /* skills images will be horizontally */
    .about .skills .img-container {
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }
}

@media (max-width: 500px) {
    .about .skills-column img {
        width: 40px;
    }
}
