/* there two part short info and family members part will stand vertically */
.family {
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

/* short info with image will stand horizontally */
.family .short-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

/* there short info text part will be stand in column */
.family .info-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.family h1 {
    font-family: 'Eczar', serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
}

.family .info-text p, .family .member h4 {
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

/* image container width from short info */
.family .short-info .img-container {
    width: 40%;
}

.family .img-container img {
    width: 100%;
}

/* family members will stand horizontally and if not fit in will be in below */
.family .family-members {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
    align-items: center;
}

/* this is for every member, elements here will stand vertically and here width in flex and maxmin */
.family .member {
    flex: 1;
    padding: 15px;
    background-color: #e0e0e0;
    min-width: 200px;
    max-width: 400px;
    width: 20%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* member image */
.family .member img {
    width: 100%;
    margin-bottom: 15px;
}
/* member text */
.family .member h4 {
    text-align: center;
}

@media (max-width: 900px) {
    /* there short info with image will vertically and there is their sizes */
    .family .short-info {
        flex-direction: column;
    }

    .family .short-info .img-container {
        width: 80%;
    }

    .family .short-info .info-text {
        width: 90%;
    }

    .family .info-text p, .family .member h4 {
        font-size: 15px;
        line-height: 20px;
    }
}
