/* footer will be position absolute cause sometimes when it will just stand in below of main screen will not 100vh so there will be space if i will
not put it in the bottom of body. will take 100% width and centralize text */
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: inherit;
    font-weight: inherit;
    font-size: 18px;
}

/* change size of text */
@media (max-width: 900px) {
    footer {
        font-size: 15px;
    }
}
