body {
    background-color: #ffffff; /* Sets a white background color for the entire page */
    font-family: 'Work Sans', serif; /* Applies 'Work Sans' font for body text for readability */
    color: black; /* Sets the text color to black for contrast against the white background */
    font-weight: 600; /* Sets a semi-bold font weight for better emphasis on text */
    position: relative; /* Allows for absolute positioning of child elements if needed */
    min-height: 100vh; /* Ensures the body takes up at least the full height of the viewport */
}

main {
    display: flex; /* Enables flexbox layout for the main content area */
    flex-direction: column; /* Arranges child elements in a vertical column */
    align-items: center; /* Centers child elements horizontally within the main container */
}
