/* put font style and if screen will not take 100vh min will so */
body {
    background-color: #ffffff;
    font-family: 'Work Sans', serif;
    color: black;
    font-weight: 600;
    position: relative;
    min-height: 100vh;
}

/* main part will put section blocks vertically */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
