/* will centralize nav */
header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* will take width and centralize ul */
.header-nav {
    width: 80%;
    display: flex;
    justify-content: center;
}

/* ul will put elements horizontal */
.header-ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 32px;
    background-color: #e0e0e0;
    border-radius: 50px;
}

/* link style and hover and when active */
.header-ul a {
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
    line-height: 25px;
    font-size: 20px;
    transition: .3s;
}

.header-ul a:hover {
    font-size: 21px;
    color: #505050;
    box-shadow: 
    0 0 10px rgba(0, 0, 0, 0.5),
    0 0 20px rgba(0, 0, 0, 0.4),
    0 0 30px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 5px;
}

.header-ul a:active {
    text-decoration: underline;
}

/* current page style */
.selected-page {
    text-decoration: underline !important;
}
/* burger menu will apper when screen size will small */
.menu {
    display: none;
    width: 40px;
    height: 40px;
}

/* change size and spacing */
@media (max-width: 900px) {
    .header-nav {
        width: 70%;
    }

    .header-ul {
        padding: 15px;
        gap: 15px;
    }

    .header-ul a {
        font-size: 15px;
    }

    .header-ul a:hover {
        font-size: 16px;
    }
}
/* here also */
@media (max-width: 600px) {
    .header-nav {
        width: 75%;
    }

    .header-ul {
        padding: 15px;
    }
}

@media (max-width: 500px) {
    header {
        padding-left: 9%;
        justify-content: start;
    }
    
    /* burger menu will appear */
    .menu {
        display: block;
    }

    /* nav will display none */
    .header-nav {
        display: none;
    }

    /* ul style when burger menu appears so that links will in vertical */
    .header-ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: start;
        border: none;
        background-color: white;
        gap: 0px;
        border-radius: 0px;
    }

    /* puts nav in below of burger menu */
    .open {
        position: absolute;
        display: block;
        width: 100%;
        top: 35px;
        z-index: 10;
    }

    .open a {
        padding: 5px;
    }
}
