/* hobbies block width margin colors */
.hobbies {
    background-color: #9a9a9a;
    color: black;
    padding: 5vw 2vw;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
    width: 90%;
    margin-top: 50px;
    margin-bottom: 120px;
}

/* heading style */
.hobbies h2 {
    font-size: 3vw;
    margin-bottom: 2vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Eczar", serif;
    font-weight: 600;
}
/* info style */
.hobbies p {
    font-size: 1.5vw;
    margin-bottom: 3vw;
    line-height: 1.5;
}

/* grid for every my hobbies, if they will not fit in they will be in below */
.hobbies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2vw;
    width: 100%;
}

/* hobby style */
.hobby-item {
    background-color: #525252;
    border-radius: 12px;
    padding: 2vw;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    position: relative;
}
/* image of hobby */
.hobby-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}
/* text o hobby */
.hobby-item h3 {
    font-size: 1.4vw;
    margin-top: 1.5vw;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/* hobby will increase in size when hover */
.hobby-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
}

/* change sizes */
@media (max-width: 500px) {
    .hobbies p {
        font-size: 3vw;
    }

    .hobby-item h3 {
        font-size: 3vw;
    }
}
