/* this block will horizontal flex with items horizontal divided to sides and centralized by align items, with margins top and bottom */
.home { 
    margin-top: 45px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 20px; 
    width: 90%; 
    margin-bottom: 120px; 
}

/* This part is text part and text will stand vertically and will horizontally in start of row */
.home .info {
    gap: 30px; 
    display: flex; 
    flex-direction: column; 
    width: 40%; 
    align-items: start; 
}

/* text styles */
.home .info-text {
    font-family: 'Eczar', serif; 
    font-weight: 600; 
    font-size: 64px; 
    line-height: 70px; 
    text-wrap: wrap; 
}

/* this part for image and will rounded corners and overflow will hidden */
.home .img-container {
    width: 50%; 
    border-radius: 30px; 
    overflow: hidden; 
}

/* image will cover full width and position will center */
.home .img-container img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    object-position: center; 
}

/* this is for div with bytton styles */
.home .btn:first-of-type {
    cursor: default; 
}

/* style for button with image */
.btn {
    padding: 20px; 
    font-size: 20px; 
    font-weight: inherit; 
    line-height: 25px; 
    font-family: inherit; 
    color: white; 
    border: none; 
    border-radius: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    background-color: black; 
    cursor: pointer; 
    transition: .3s; 
}

/* btn hover color will change */
.btn:hover {
    background-color: rgb(54, 54, 54); 
}

/* will change font size */
@media (max-width: 1550px) {
    .home .info-text {
        font-size: 55px; 
        line-height: 65px; 
    }
}

/* will change distance between vertical text and font size */
@media (max-width: 1350px) {
    .home .info {
        gap: 20px; 
    }

    .home .info-text {
        font-size: 50px; 
        line-height: 60px; 
    }

    .btn {
        padding: 15px; 
        font-size: 15px; 
    }
}

/* this is also */
@media (max-width: 1200px) {
    .home .info {
        gap: 10px; 
    }

    .home .info-text {
        font-size: 40px; 
        line-height: 50px; 
    }

    .btn {
        padding: 10px; 
        font-size: 15px; 
    }
}

/* there image will stand below of vertical text and size will change */
@media (max-width: 900px) {
    .home {
        flex-direction: column; 
    }

    .home .info {
        width: 80%; 
        gap: 10px; 
    }

    .home .info-text {
        font-size: 50px; 
    }

    .home .img-container {
        width: 80%; 
    }
}

/* here just change sizes  */
@media (max-width: 600px) {
    .home .info {
        width: 90%; 
        gap: 10px; 
    }

    .home .info-text {
        font-size: 40px; 
    }

    .home .img-container {
        width: 90%; 
    }
}

/* here also */
@media (max-width: 500px) {
    .home .info-text {
        font-size: 35px; 
    }
}
